/*! _cards.scss v1.0.0 | Commercial License | built on top of bulma.io/Bulmax */

/* ==========================================================================
Cards and Card content styles
========================================================================== */

// Feature Card
.feature-card {
    width: 300px;
    background-color: $cp-container-1;
    border-radius: 3px;
    margin: 0 auto;

    .card-title h4 {
        padding-top: 25px;
        font-size: 1.2rem;
        font-weight: 600;
        color: $cp-item-4-1;
    }

    .card-icon img {
        height: 120px;
        margin-top: 20px;
    }

    .card-text {
        padding: 0 40px;

        p {
            color: $cp-item-4-2;
        }

        &.height-aligned {
            flex-grow: 1;
        }
    }

    .card-action {
        margin: 10px 0px 10px 0px;
    }

    &.is-bordered {
        border: 1px solid $cp-container-1-border;
    }

    &.height-aligned {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

// Flex Card
.flex-card {
    position: relative;
    background-color: $cp-container-1;
    border: 0;
    border-radius: 0.1875rem;
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;

    &.raised {
        box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    }

    .tabs {
        padding: 15px 0.7rem;
    }

    .navtab-content {
        min-height: 190px;

        p {
            padding: 0 0.8rem 20px;
        }
    }

    .navigation-tabs {
        &.outlined-pills .tabs.tabs-header {
            &.primary {
                background-color: $cp-base-primary;
            }

            &.secondary {
                background-color: $cp-base-secondary;
            }

            &.accent {
                background-color: $cp-base-tertiary;
            }

            ul li a {
                color: $cp-base-text-2;
            }

            ul li.is-active a {
                color: $cp-base-text-2-active;
                border: 1px solid $cp-container-1;
                border-bottom-color: $cp-container-1 !important;
            }
        }
    }

}