#cookie-notification {
    background-color: $cp-container-5;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 8px;
}

.cookie-btns {
    white-space: nowrap;
    display: block;
    padding: 0 0;
}

.cookie-btns .button#decline-cookies {
    background-color: inherit;
}

.cookie-btns .button#accept-cookies {
    background-color: $cp-container-5-default-opt;
}
