/* ==========================================================================
Inputs styles
========================================================================== */

input.input {
    color: $cp-base-text-3;
    box-shadow: none !important;
    transition: all 0.8s;
    padding-bottom: 3px;

    &.is-small {
        padding-bottom: 2px;
        padding-left: 10px;
    }

    &.is-medium {
        padding-bottom: 5px;
    }

    &.is-large {
        padding-bottom: 7px;
    }

    &:focus,
    &:active {
        border-color: $cp-base-text-3-active;
    }

    &.rounded {
        border-radius: 100px;
    }

    &.is-primary-focus:focus {
        border-color: $cp-base-text-1-primary;

        ~span.icon i {
            color: $cp-base-text-1-primary;
        }
    }

    &.is-secondary-focus:focus {
        border-color: $cp-item-5-2-bg;

        ~span.icon i {
            color: $cp-item-5-2-bg;
        }
    }

    &.is-accent-focus:focus {
        border-color: $cp-item-5-3-bg;

        ~span.icon i {
            color: $cp-item-5-3-bg;
        }
    }

    &.is-error-focus:focus {
        border-color: $cp-base-text-error;

        ~span.icon i {
            color: $cp-base-text-error;
        }
    }
}

.form-footer {
    width: 100%;
}