/* ==========================================================================
Section Styles
========================================================================== */

section {
    background-color: $cp-container-2;

    &:nth-child(odd) {
        background-color: $cp-container-2-alt;
    }
}

//Sections
.section {
    &.section-secondary {
        background-color: $cp-item-4-3-secondary;
        color: $cp-item-4-3 !important;
    }

    &.section-half {
        height: 75vh !important;
    }

    .subtitle {
        &.is-muted {
            color: $cp-item-4-2;
        }
    }
}

//Titles
.title-wrapper {
    max-width: 500px;
    margin: 0 auto;

    .subtitle {
        &.is-muted {
            color: $cp-item-4-2;
        }
    }
}

//Divider
.divider {
    height: 3px;
    border-radius: 50px;
    background-color: $cp-item-4-3-secondary;
    width: 60px;

    &.is-centered {
        margin: 0 auto;
    }
}

//Wrapper
.content-wrapper {
    padding: 60px 0;
}


//Pulled image
img.pushed-image {
    margin-top: -5vh;
}

//Icon box
.media.icon-box {
    border-top: none !important;

    .media-content .content p {
        span {
            display: block;
        }

        .icon-box-title {
            color: $cp-item-4-1;
            font-size: 1.2rem;
            font-weight: 600;
        }

        .icon-box-text {
            color: $cp-item-4-2;
            font-size: 1rem;
            font-weight: 400;
        }
    }

    img {
        height: 120px;
    }
}