<link rel="icon" type="image/png" href="{{ "images/favicon.png" | relURL }}" />
{{- $inServerMode := .Site.IsServer }}
<!-- bulma, invi, custom css start -->
{{- $inviCSSTarget := "css/style.css" }}
{{ if .Site.Params.customCSS }}
    {{- $inviCSSTarget = "css/temp_invi_style.css" }}
{{- end }}
{{- $inviCSSOpts := cond ($inServerMode)
    (dict "targetPath" $inviCSSTarget "enableSourceMap" true "transpiler" "libsass" "vars" site.Params.style)
    (dict "targetPath" $inviCSSTarget "outputStyle" "compressed" "transpiler" "libsass" "vars" site.Params.style)
}}
{{- $inviSass    := resources.Get "style.sass" | toCSS $inviCSSOpts }}
{{- $cssResource := $inviSass }}
{{ with .Site.Params.customCSS }}
    {{- $customCSSTarget := "css/temp_custom_style.css" }}
    {{- $customCSSOpts   := cond ($inServerMode)
        (dict "targetPath" $customCSSTarget "enableSourceMap" true "transpiler" "libsass" "vars" site.Params.style)
        (dict "targetPath" $customCSSTarget "outputStyle" "compressed" "transpiler" "libsass" "vars" site.Params.style)
    }}
    {{- $customSass      := resources.Get . | toCSS $customCSSOpts }}
    {{- $cssResource      = slice $inviSass $customSass | resources.Concat "css/style.css" }}
{{- end }}
{{- if $inServerMode }}
    {{- $css := $cssResource }}
    <link rel="stylesheet" type="text/css" href="{{ $css.RelPermalink }}">
{{- else }}
    {{- $css := $cssResource | minify }}
    <link rel="stylesheet" type="text/css" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
{{- end }}
<!-- bulma, invi css end -->
<!-- photoswipe -->
<link rel="stylesheet" type="text/css" href="{{ "modules/photoswipe/photoswipe.css" | relURL }}">
<!-- fontawesome icons start -->
<link rel="stylesheet" type="text/css" href="{{ "css/fontawesome.min.css" | relURL }}">
<link rel="stylesheet" type="text/css" href="{{ "css/brands.min.css" | relURL }}">
<link rel="stylesheet" type="text/css" href="{{ "css/solid.min.css" | relURL }}">
<!-- fontawesome icons end -->
