{{- $hero        := $.Param "hero" }}
{{- $title       := index $hero "title" }}
{{- $subtitle    := index $hero "subtitle" }}
{{- $buttonText  := index $hero "buttonText" }}
{{- $buttonUrl   := index $hero "buttonUrl" }}
{{- $image       := index $hero "image" }}
{{- $clientLogos := index $hero "clientLogos" }}
<section class="hero is-fullheight is-default is-bold">
  <div class="hero-body">
    <div class="container">
      {{- if $image }}
      <div class="columns is-vcentered">
        <div class="column is-5 is-offset-1 landing-caption">
      {{- else }}
      <div class="columns is-centered">
        <div class="is-5 is-offset-1 landing-caption">
      {{- end }}
          <h1 class="title is-1 is-bold is-spaced">
            {{ $title }}
          </h1>
          {{ with $subtitle }}
          <h2 class="subtitle is-5 is-muted">
            {{ . }}
          </h2>
          {{ end }}
          {{- if $buttonText }}
          <p>
            <a class="button cta rounded primary-btn raised" href="{{ $buttonUrl | absLangURL }}">
              {{ $buttonText }}
            </a>
          </p>
          {{- end }}
        </div>
        {{- if $image }}
        <div class="column is-5 is-offset-1">
          <figure class="image is-4by3">
            <img src="{{ printf "/images/%s" $image | relURL }}" alt="Description">
          </figure>
        </div>
        {{- end }}
      </div>
    </div>
  </div>
  
  <div class="hero-foot mb-20">
    <div class="container">
      <div class="tabs is-centered">
        <ul>
          {{- range $clientLogos }}
          <li>
            <a>
              <img class="partner-logo" src="{{ printf "/images/logos/clients/%s.svg" . | relURL }}">
            </a>
          </li>
          {{- end }}
        </ul>
      </div>
    </div>
  </div>
</section>