<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1" />

{{ if eq .Site.Params.openGraph true }}
{{ partial "meta/opengraph.html" . }}
{{ else }}
<!-- if NO open graph start -->
{{ if .Params.description }}
<meta name="description" content="{{ .Params.description }}" />
{{ else if .Site.Params.Description }}
<meta name="description" content="{{ .Site.Params.Description }}" />
{{ end }}
<!-- if NO open graph end -->
{{ end }}

{{ partial "meta/twitter.html" . }}
